extends ../layouts/common
block nav
  include ../layouts/nav
block content
  a(href="/books/see" style='text-decoration: none; color: #c887c3') Back
  h3.py-3 Create New Books
  form(action="/books/add", method="POST")
    .form-group.row
      label.col-sm-2.col-form-label Title
      .col-sm-10
        input.form-control(name = "title", type= "text")
    .form-group.row
      label.col-sm-2.col-form-label Descripttion
      .col-sm-10
        input.form-control(name = "description", type= "text")
    button.btn.btn-primary(style='background-color: #c887c3; border-color: #c887c3;') Create