extends ./layouts/common
block nav
  include ./layouts/nav
block content
  h1(class='text-center', style="border-radius: 0.5rem; color: rgb(34, 34, 34); background-color: rgb(250, 199, 255); box-shadow: 4px 4px 0 #222; margin-right: 4px; padding: 0.375em 0.5em 0.1875em; text-decoration: none;") Welcome to My Library